/*defauld*/
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}

header {
    height: 100vh;
    width: 100%;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    text-align: center;
}

.logo{
    padding: 10px;
    color: black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.411);
    text-decoration: none;
    font-size: 25px;
}

.header-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row;
}

.header-bottom .bottom-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-flecha {
    animation: flecha 2s infinite;
}
@-webkit-keyframes flecha {
    0%,
    100% {
      -webkit-transform: translatey(-2rem);
      transform: translatey(-2rem);
    }
    50% {
      -webkit-transform: translatey(0);
      transform: translatey(0);
    }
}
@-o-keyframes flecha {
    0%,
    100% {
      -o-transform: translatey(-2rem);
      transform: translatey(-2rem);
    }
    50% {
      -o-transform: translatey(0);
      transform: translatey(0);
    }
}
@keyframes flecha {
    0%,
    100% {
      -webkit-transform: translatey(-2rem);
      -o-transform: translatey(-2rem);
      transform: translatey(-2rem);
    }
    50% {
      -webkit-transform: translatey(0);
      -o-transform: translatey(0);
      transform: translatey(0);
    }
}

.header-bottom .bottom-center img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    header {
        background-image: url(img/banner-math.jpg);
    }
}